@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #div1 .aaa:hover {
      color: orange;
      cursor: pointer; 
      font-size:large;
    }

      a  {
      color: white;
    }
</style>

<div>
    <h1>Account Reports</h1>
</div>

<div class="row" id="div1">
    <div class="col-md-12">
        <ul>
            <li><a href="@Url.Action("AccountStatement", "AccountsReport")"  class="aaa">Account Statement</a></li>
            <li><a href="@Url.Action("OutstandingStatement", "AccountsReport")"  class="aaa">Outstanding Statement</a></li>
            <li><a href="@Url.Action("VoucherwiseAccountsReport", "AccountsErp")"  class="aaa">Voucherwise Accounts Report</a></li>
            <li><a href="@Url.Action("TrailBalance", "ABDataTable")" class="aaa">Trail Balance</a></li>
            <li><a href="@Url.Action("BalanceSheet", "ABDataTable")"  class="aaa">BalanceSheet</a></li>
            <li><a href="@Url.Action("OutstatndingStatmentPDC", "ABDataTable")"  class="aaa">Outstanding Statement(PDC)</a></li>
            <li>Statement(FC)</li>
            <li>Outstanding Statement(FC)</li>
            <li>PDC Statement</li>
            <li>Statement(Job)</li>
            <li>Outstanding Statement(Job)</li>
            <li>Statement(Job) Link A/C</li>
            <li>Ageing Detailed</li>
            <li>Ageing Statement</li>
            <li>Ageing with PDC</li>
            <li>Ageing Salesmanwise</li>
            <li>Daily SalesOut</li>
            <li>Address List</li>
            <li>Bank Statement</li>
            <li>Day Book</li>

        </ul>
    </div>
</div>
