@model EUMI_ERP.Models.WorkItemDivDeptModel
<form id="popupDivisionForm" data-last-flag="@(Model.LastActionSuccess? 1 : 0)" autocomplete="off">
    <div class="row">
        <div class="col-md-12">
            <div class="dateTo">
                <label for="popupDiv">Division:</label>
                <select class="form-control" name="id" id="popupDiv">
                    <option value="0">- Add New -</option>
                    @foreach (var oneItem in Model.DivList)
                    {
                        if (oneItem.Id == Model.SelectedDiv)
                        {
                            <option value="@oneItem.Id" selected="selected">@oneItem.Name</option>
                        }
                        else
                        {
                            <option value="@oneItem.Id">@oneItem.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-12">
            <div class="form-group">
                <label for="popupDivName">New Division Name:</label>
                <input type="text" class="form-control" name="newName" id="popupDivName" maxlength="250" />
            </div>
        </div>
    </div>
</form>

