@model EUMI_ERP.Models.WorkListTimeTagModel
<div>
    <form>
        <div>
            <fieldset>
                <legend>Remove Time Tags</legend>
                <div>
                    <input type="hidden" name="div" value="@Model.div" />
                    <select id="tagDelPopupName" name="tagName" class="form-control">
                        @foreach(var oneitem in Model.list)
                        {
                            <option value="@oneitem.TagName">@oneitem.TagName - @oneitem.Display</option>
                        }
                    </select>
                </div>
                <div class="text-right mt-1">
                    <button type="button" onclick="tagRefresh(this, 1);" data-load-url="@Url.Action("DelTagPartial", "WorkItem")" class="btn btn-primary">Remove</button>
                </div>
            </fieldset>
        </div>
    </form>
    <form>
        <div>
            <fieldset>
                <legend>Add Time Tags</legend>
                <div>
                    <label>New Name</label>
                    <input type="hidden" name="div" value="@Model.div" />
                    <input type="text" name="tagName" class="form-control" />
                </div>
                <div>
                    <label>Time</label>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="number" min="0" max="100" placeholder="Hour(s)" name="hrs" class="form-control" maxlength="3" />
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control" name="mins">
                                <option value="30">Min(s)</option>
                                <option value="0">0</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="text-right mt-1">
                    <button type="button" onclick="tagRefresh(this, 0);" data-load-url="@Url.Action("AddTagPartial", "WorkItem")" class="btn btn-primary">Add New</button>
                </div>
            </fieldset>
        </div>
    </form>
</div>
